.child-comment-input {
  display: none
}

.comment-content {
  word-break: break-all;
  white-space: break-spaces
}

.child-comment-content {
  word-break: break-all;
  white-space: break-spaces
}

.card-body {
  padding-bottom: 0;
}

.comment-update {
  display: none;
}

.child-comment-update {
  display: none;
}

.img-fluid {
  width: 100%;
  height: 200px
}
