<main>
  <!-- Container START -->
  <div class="container">
    <div class="row">

      <!-- Sidenav START -->
      <div class="col-lg-3">

        <!-- Advanced filter responsive toggler START -->
        <!-- Divider -->
        <div class="d-flex align-items-center mb-4 d-lg-none">
          <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <i class="btn btn-primary fw-bold fa-solid fa-sliders"></i>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">Cài đặt</span>
          </button>
        </div>
        <!-- Advanced filter responsive toggler END -->

        <nav class="navbar navbar-light navbar-expand-lg mx-0">
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
              <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body p-0">
              <!-- Card START -->
              <div class="card w-100">
                <!-- Card body START -->
                <div class="card-body">

                  <!-- Side Nav START -->
                  <ul class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0" data-bs-toggle="tab" routerLink="/setting-user"> <img
                        class="me-2 h-20px fa-fw" src="assets/assets/images/icon/person-outline-filled.svg" ><span>Tài khoản </span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0 active" data-bs-toggle="tab" routerLink="/setting-password"> <i
                        class="me-2 h-20px fa-fw fa-solid fa-key"></i><span>Đổi mật khẩu </span></a>
                    </li>
                  </ul>
                  <!-- Side Nav END -->

                </div>
                <!-- Card body END -->
                <!-- Card footer -->
                <div class="card-footer text-center py-2" >
                  <a class="btn btn-link text-secondary btn-sm" routerLink="/{{id}}">Quay lại trang cá nhân </a>
                </div>
              </div>
              <!-- Card END -->
            </div>
            <!-- Offcanvas body -->

          </div>
        </nav>
      </div>
      <!-- Sidenav END -->

      <!-- Main content START -->
      <div class="col-lg-9">
        <!-- Setting Tab content START -->
        <div class="tab-content py-0 mb-0">

          <!-- change setting tab START -->
          <div class="tab-pane show active fade" id="nav-setting-tab-1">
            <!-- change settings START -->
            <div class="card mb-4 ">
              <div class="card" style="padding-right: 4%;padding-left: 4%" >
                <!-- Title START -->
                <div class="card-header border-0 pb-0">
                  <h5 class="card-title">Thay đổi mật khẩu</h5>
                </div>
                <!-- Title START -->
                <div class="card-body">
                  <!-- Settings START -->
                  <form class="row g-3" [formGroup]="userForm" (ngSubmit)="changePassword(id)">
                    <!-- Current password -->
                    <div class="col-12">
                      <label class="form-label">Mật khẩu hiện tại</label>
                      <input type="password" class="form-control" formControlName="currentPassword">
                      <div
                        *ngIf="!currentPassword?.valid && (currentPassword?.dirty)" style="color: red">
                        <div [hidden]="!currentPassword?.errors?.['required']"> Không được để trống</div>
                        <div [hidden]="!currentPassword?.errors?.['minlength']">Phải chứa 6 kí tự</div>
                        <div [hidden]="!currentPassword?.errors?.['maxlength']">Phải ít hơn 32 kí tự</div>
                      </div>
                      <div id="error" style="display: none;color: red">Mật khẩu hiện tại không đúng </div>
                    </div>
                    <!-- New password -->
                    <div class="col-12">
                      <label class="form-label">Mật khẩu mới</label>
                      <!-- Input group -->
                        <input class="form-control fakepassword" type="password" id="psw-input" formControlName="password">
                        <div
                          *ngIf="!password?.valid && (password?.dirty)" style="color: red">
                          <div [hidden]="!password?.errors?.['required']"> Không được để trống</div>
                          <div [hidden]="!password?.errors?.['minlength']">Phải chứa 6 kí tự</div>
                          <div [hidden]="!password?.errors?.['maxlength']">Phải ít hơn 32 kí tự</div>
                        </div>
                    </div>
                    <!-- Confirm password -->
                    <div class="col-12">
                      <label class="form-label">Nhập lại mật khẩu</label>
                      <input type="password" class="form-control" formControlName="confirmPassword">
                      <div
                        *ngIf="!confirmPassword?.valid && (confirmPassword?.dirty)" style="color: red">
                        <div [hidden]="!confirmPassword?.errors?.['required']"> Không được để trống</div>
                        <div [hidden]="!confirmPassword?.errors?.['minlength']">Phải chứa 6 kí tự</div>
                        <div [hidden]="!confirmPassword?.errors?.['maxlength']">Phải ít hơn 32 kí tự</div>
                      </div>
                        <div id="fail" style="display: none;color: red">Mật khẩu và nhập lại mật khẩu phải giống nhau </div>
                    </div>
                    <div id="fail1" style="display: none;color: red">Mật khẩu mới không được giống mật khẩu cũ </div>
                    <!-- Button  -->
                    <div class="col-12 text-end">
                      <button type="submit" class="btn btn-primary mb-0" [disabled]="!userForm.valid">Thay đổi</button>
                    </div>
                  </form>
                  <!-- Settings END -->
                </div>
              </div>
            </div>
            <!-- change settings END -->

            <!-- Settings END -->
          </div>
        </div>
        <!-- Card END -->
      </div>
      <!-- Account setting tab END -->

    </div>
    <!-- Setting Tab content END -->
  </div>

  <!-- Container END -->

</main>
